.btn-apply{
  display: inline-block;
  color:aquamarine ;
  background-color: #ff06b0;
  padding: 15px 15px;
  font-weight: lighter;
  border-radius: 1px;
  box-shadow: 20px #999999;
  border: 30px #ff0000;
  }

.btn-apply:hover{
  color:#ff0000;
  background-color: rgb(49, 250, 27);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

.btn-apply::after {
  content: 'Apply now';
}

.btn-apply:hover::after {
  content: 'Genauuuu';
}
